<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link">Home</a>
    <a class="nav-item nav-link">Users</a>
    <a class="nav-item nav-link">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="app-container">
  <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">
    <p>
        <a href="https://jasonwatmore.com/post/2020/04/28/angular-9-user-registration-and-login-example-tutorial" target="_top">Angular 9 - User Registration and Login Example & Tutorial</a>
    </p>
    <p>
        <a href="https://jasonwatmore.com" target="_top">ReckonerSolutions.com</a>
    </p>
</div>